*{
    margin:0;
    padding:0;
    box-sizing:0;
}
body{
    background-color:springgreen;
}
nav{
    height: 60px;
}
ul.container{
    display:flex;
    justify-content:space-around;
list-style:none;
background: tomato;
line-height: 60px;
}

.container a {
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans Mono', monospace;
}

li{
    padding:0 40px;

}

li:hover{
    animation:changeMe 3s ease-in-out .2s ;
}
@keyframes changeMe{
0%{
    background-color:tomato;
}
50%{background-color:royalblue
}
75%{background-color:skyblue
}
100%{
    background-color:tomato;
}

}