body {
    background-color: black;
    font-family: 'Libre Baskerville', serif;
}

button {
  background-color: white;
  border: none;
  color:white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 50%;
  font-family: 'Libre Baskerville', serif;
 
}

h1{
  color: white;
  font-size: 20px;
}

.Timerdiv {
  background-color: white;
  font-size: 20px;
  margin: 30px;
}

.buttongroup {
display: flex;
justify-content: center;
align-items: center;
height: 650px;

}

#buttonall {
  color:black;
  padding: 50px 40px;
  margin-left: 10px;
}

#buttonredplus, #buttonredminus {
  background-color:red;
  padding: 15px 20px;
  margin-left: 10px;
}
#buttongreenplus,#buttongreenminus {
  background-color:rgb(0, 255, 0);
  padding: 15px 20px;
  margin-left: 10px;
}
#buttonblueplus,#buttonblueminus {
  background-color: blue;
  padding: 15px 20px;
  margin-left: 10px;
}

.Redsquare {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  /* width: 100px; */
  /* height: 100px; */
  border: black solid 2px;
  /* padding: 200px 200px; */
  /* transform: rotate(.125turn); */
}

.cell {
  background-color: pink;
  width: 100px;
  height: 100px;
  padding: 5px;
}

.square {
  display: flex;
  justify-content: space-between;
}

.cell{
  animation: lookOut;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.6, 0.87, 0.59, 0.46);
  animation-delay: 0s;
}

.cell:hover{
  color: yellow;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.startButton {
  border-radius: 50%;
  background-color: beige; 
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.circle-container {
  position: relative;
  width: 24em;
  height: 24em;
  padding: 2.8em;
  /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  border: dashed 1px;
  border-radius: 50%;
  margin: 1.75em auto 0;
}

.circle-container a {
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  width: 4em; height: 4em;
  margin: -2em;
}

.circle-container img { display: block; width: 100%; }
.deg0 { transform: translate(12em); } /* 12em = half the width of the wrapper */
.deg45 { transform: rotate(45deg) translate(12em) rotate(-45deg); }
.deg135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
.deg180 { transform: translate(-12em); }
.deg225 { transform: rotate(225deg) translate(12em) rotate(-225deg); }
.deg315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }