body {
    background-color: grey;
}

button {
  background-color: white;
  border: none;
  color:grey;
  padding: 50px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 50%;
 
}

.buttongroup {
display: flex;
justify-content: center;
align-items: center;
height: 650px;
}

#buttonred {
  background-color:red;
  padding: 20px 20px;
}
#buttonblue{
  background-color: blue;
  padding: 20px 20px;

}
#buttonyellow{
  background-color: yellow;
  padding: 20px 20px;

}
#buttonwhite{
  background-color: white;
  padding: 20px 20px;
}
#buttonblack{
  background-color: black;
  padding: 20px 20px;

}