body {
    background-color: black;
}

button {
  background-color: white;
  border: none;
  color:white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 50%;
 
}

h1{
  color: white;
  font-size: 20px;
}

.buttongroup {
display: flex;
justify-content: center;
align-items: center;
height: 650px;

}

#buttonall {
  color:black;
  padding: 50px 40px;
  margin-left: 10px;
}

#buttonredplus, #buttonredminus {
  background-color:red;
  padding: 15px 20px;
  margin-left: 10px;
}
#buttongreenplus,#buttongreenminus {
  background-color:rgb(0, 255, 0);
  padding: 15px 20px;
  margin-left: 10px;
}
#buttonblueplus,#buttonblueminus {
  background-color: blue;
  padding: 15px 20px;
  margin-left: 10px;
}
